Repository barry47products/is-it-stolen: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Value Objects, Domain Services, Domain Events, Domain Exceptions, Application Commands, Application Queries, Application Services, Infrastructure - Persistence, Infrastructure - WhatsApp, Infrastructure - Messaging, Infrastructure - Cache, Infrastructure - Config, Infrastructure - Media, Presentation - API, Presentation - Bot

feat: implement flow configuration loader infrastructure (#121)
  config/flows/README.md
  config/flows/flows.yaml
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/config/flow_config_loader.py
  tests/unit/infrastructure/config/__init__.py
  tests/unit/infrastructure/config/test_flow_config_loader.py
Due: Infrastructure - Config

docs: mark PR #121 (Issue #108) as merged
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: implement handler registry for dynamic loading
  config/flows/handlers.yaml
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/handlers/__init__.py
  src/infrastructure/handlers/handler_registry.py
  tests/unit/infrastructure/handlers/__init__.py
  tests/unit/infrastructure/handlers/test_handler_registry.py
Due: none

feat: implement handler registry for dynamic loading (#122)
  config/flows/handlers.yaml
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/handlers/__init__.py
  src/infrastructure/handlers/handler_registry.py
  tests/unit/infrastructure/handlers/__init__.py
  tests/unit/infrastructure/handlers/test_handler_registry.py
Due: none

docs: mark PR #122 (Issue #109) as merged
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: implement flow execution engine
  src/presentation/bot/flow_engine.py
  tests/unit/presentation/bot/test_flow_engine.py
Due: Presentation - Bot

feat: implement flow execution engine (#123)
  src/presentation/bot/flow_engine.py
  tests/unit/presentation/bot/test_flow_engine.py
Due: Presentation - Bot

docs: update migration progress for Issue #110
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: integrate FlowEngine for check flow execution
  config/flows/README.md
  src/presentation/bot/message_router.py
  src/presentation/bot/states.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

Potential fix for code scanning alert no. 135: Unused import
  src/presentation/bot/message_router.py
Due: Presentation - Bot

chore: commit poetry.lock for reproducible builds
  .gitignore
  poetry.lock
Due: none

chore: upgrade Poetry to 2.1.4 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

docs: update migration progress for Issue #111
  docs/whatsapp-interactive-messages-migration.md
Due: none

fix: update pip-audit to work with Poetry 2.x
  .github/workflows/security.yml
Due: none

fix: upgrade pip and handle pip-audit warnings gracefully
  .github/workflows/security.yml
Due: none

feat: integrate FlowEngine for check flow execution (#111) (#124)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .gitignore
  config/flows/README.md
  docs/whatsapp-interactive-messages-migration.md
  poetry.lock
  src/presentation/bot/message_router.py
  src/presentation/bot/states.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

feat: integrate FlowEngine for report flow execution
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

feat: integrate FlowEngine for report flow execution (#125)
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

docs: update migration progress for Issue #112
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: add Contact Us flow via configuration (Demo)
  config/flows/flows.yaml
  config/flows/handlers.yaml
  src/application/commands/create_support_ticket.py
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  tests/unit/application/commands/test_create_support_ticket.py
  tests/unit/presentation/bot/test_message_router.py
Due: Application Commands, Presentation - Bot

feat: add Contact Us flow via configuration (Demo) (#126)
  config/flows/flows.yaml
  config/flows/handlers.yaml
  src/application/commands/create_support_ticket.py
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  tests/unit/application/commands/test_create_support_ticket.py
  tests/unit/presentation/bot/test_message_router.py
Due: Application Commands, Presentation - Bot

docs: update migration progress for Issue #113
  docs/whatsapp-interactive-messages-migration.md
Due: none

refactor: document ACTIVE_FLOW pattern and deprecate legacy states
  src/presentation/bot/states.py
  tests/unit/presentation/bot/test_states.py
Due: Presentation - Bot

refactor: document ACTIVE_FLOW pattern and deprecate legacy states (#127)
  src/presentation/bot/states.py
  tests/unit/presentation/bot/test_states.py
Due: Presentation - Bot

docs: update migration progress for Issue #114 Phase 1
  docs/whatsapp-interactive-messages-migration.md
Due: none

docs: verify integration and e2e tests compatible with config-driven flows
  tests/e2e/presentation/test_conversation_flows.py
  tests/integration/presentation/bot/test_conversation_integration.py
Due: none

docs: update migration progress for Issue #115
  docs/whatsapp-interactive-messages-migration.md
Due: none

docs: Verify integration and e2e tests compatible with config-driven flows (#128)
  docs/whatsapp-interactive-messages-migration.md
  tests/e2e/presentation/test_conversation_flows.py
  tests/integration/presentation/bot/test_conversation_integration.py
Due: none

docs: add executive summary and completion summary to migration document
  docs/whatsapp-interactive-messages-migration.md
Due: none

refactor: split message_router.py into smaller focused modules
  .pre-commit-config.yaml
  pyproject.toml
  src/infrastructure/handlers/handler_registry.py
  src/infrastructure/persistence/database.py
  src/presentation/api/app.py
  src/presentation/bot/handlers/__init__.py
  src/presentation/bot/handlers/handler_utils.py
  src/presentation/bot/handlers/legacy_check_handlers.py
  src/presentation/bot/handlers/legacy_report_handlers.py
  src/presentation/bot/message_router.py
  tests/integration/infrastructure/test_redis_client.py
  tests/unit/infrastructure/test_media_storage.py
  tests/unit/presentation/bot/test_message_router.py
Due: Infrastructure - Persistence, Presentation - API, Presentation - Bot

chore: update poetry lock file
  poetry.lock
Due: none

fix: remove unnecessary AsyncGenerator type arguments
  src/presentation/api/dependencies.py
Due: Presentation - API

Refactor: Split message_router.py into smaller focused modules (#130)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/infrastructure/handlers/handler_registry.py
  src/infrastructure/persistence/database.py
  src/presentation/api/app.py
  src/presentation/api/dependencies.py
  src/presentation/bot/handlers/__init__.py
  src/presentation/bot/handlers/handler_utils.py
  src/presentation/bot/handlers/legacy_check_handlers.py
  src/presentation/bot/handlers/legacy_report_handlers.py
  src/presentation/bot/message_router.py
  tests/integration/infrastructure/test_redis_client.py
  tests/unit/infrastructure/test_media_storage.py
  tests/unit/presentation/bot/test_message_router.py
Due: Infrastructure - Persistence, Presentation - API, Presentation - Bot

feat: wire flow_engine into production (Issue #114 Phase 2)
  .secrets.baseline
  src/presentation/api/dependencies.py
  src/presentation/bot/message_processor.py
  tests/unit/presentation/test_dependencies.py
Due: Presentation - API, Presentation - Bot

feat: remove legacy state handlers (Issue #114 Phase 3)
  src/presentation/bot/handlers/__init__.py
  src/presentation/bot/handlers/handler_utils.py
  src/presentation/bot/handlers/legacy_check_handlers.py
  src/presentation/bot/handlers/legacy_report_handlers.py
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  src/presentation/bot/states.py
  tests/e2e/presentation/test_conversation_flows.py
  tests/integration/presentation/bot/test_conversation_integration.py
  tests/unit/presentation/bot/test_context.py
  tests/unit/presentation/bot/test_message_router.py
  tests/unit/presentation/bot/test_state_machine.py
  tests/unit/presentation/bot/test_states.py
Due: Presentation - Bot

Complete state machine simplification (Issue #114 Phase 2 & 3) (#131)
  .secrets.baseline
  src/presentation/api/dependencies.py
  src/presentation/bot/handlers/__init__.py
  src/presentation/bot/handlers/handler_utils.py
  src/presentation/bot/handlers/legacy_check_handlers.py
  src/presentation/bot/handlers/legacy_report_handlers.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  src/presentation/bot/states.py
  tests/e2e/presentation/test_conversation_flows.py
  tests/integration/presentation/bot/test_conversation_integration.py
  tests/unit/presentation/bot/test_context.py
  tests/unit/presentation/bot/test_message_router.py
  tests/unit/presentation/bot/test_state_machine.py
  tests/unit/presentation/bot/test_states.py
  tests/unit/presentation/test_dependencies.py
Due: Presentation - API, Presentation - Bot

fix: make FlowEngine.start_flow synchronous
  src/presentation/bot/flow_engine.py
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_flow_engine.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

fix: add async operation to CreateSupportTicketHandler
  src/application/commands/create_support_ticket.py
Due: Application Commands

feat: eliminate magic strings and numbers using layered constants architecture
  .claude/settings.local.json
  src/domain/constants.py
  src/infrastructure/config/flow_config_loader.py
  src/infrastructure/whatsapp/constants.py
  src/infrastructure/whatsapp/webhook_handler.py
  src/presentation/bot/error_handler.py
  src/presentation/bot/message_router.py
  src/presentation/bot/messages.py
  src/presentation/bot/response_builder.py
Due: Infrastructure - WhatsApp, Infrastructure - Config, Presentation - Bot

feat: eliminate magic strings and numbers using layered constants architecture (#133)
  .claude/settings.local.json
  src/domain/constants.py
  src/infrastructure/config/flow_config_loader.py
  src/infrastructure/whatsapp/constants.py
  src/infrastructure/whatsapp/webhook_handler.py
  src/presentation/bot/error_handler.py
  src/presentation/bot/message_router.py
  src/presentation/bot/messages.py
  src/presentation/bot/response_builder.py
Due: Infrastructure - WhatsApp, Infrastructure - Config, Presentation - Bot

Path conditions:
  Domain Entities: any of: src/domain/entities/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Value Objects: any of: src/domain/value_objects/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Services: any of: src/domain/services/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Events: any of: src/domain/events/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Exceptions: any of: src/domain/exceptions/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Application Commands: any of: src/application/commands/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Application Queries: any of: src/application/queries/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Application Services: any of: src/application/services/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Persistence: any of: src/infrastructure/persistence/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - WhatsApp: any of: src/infrastructure/whatsapp/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Messaging: any of: src/infrastructure/messaging/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Cache: any of: src/infrastructure/cache/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Config: any of: src/infrastructure/config/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Media: any of: src/infrastructure/media/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Presentation - API: any of: src/presentation/api/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Presentation - Bot: any of: src/presentation/bot/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
