Repository barry47products/is-it-stolen: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Value Objects, Domain Services, Domain Events, Domain Exceptions, Application Commands, Application Queries, Application Services, Infrastructure - Persistence, Infrastructure - WhatsApp, Infrastructure - Messaging, Infrastructure - Cache, Infrastructure - Config, Infrastructure - Media, Presentation - API, Presentation - Bot

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
      # Domain layer (core business logic)
      domain:
        target: 100%
        paths:
          - "src/domain/**"
        flags:
          - unit
      # Application layer (use cases)
      application:
        target: 100%
        paths:
          - "src/application/**"
        flags:
          - unit
          - integration
      # Infrastructure layer
      infrastructure:
        target: 95%
        paths:
          - "src/infrastructure/**"
        flags:
          - unit
          - integration
      # Presentation layer (API/Bot)
      presentation:
        target: 95%
        paths:
          - "src/presentation/**"
        flags:
          - unit
          - integration
    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    changes:
      default:
        if_ci_failed: error

# Component breakdown by architectural layer
component_management:
  individual_components:
    # Domain Layer Components
    - component_id: domain_entities
      name: Domain Entities
      paths:
        - src/domain/entities/**
    - component_id: domain_value_objects
      name: Domain Value Objects
      paths:
        - src/domain/value_objects/**
    - component_id: domain_services
      name: Domain Services
      paths:
        - src/domain/services/**
    - component_id: domain_events
      name: Domain Events
      paths:
        - src/domain/events/**
    - component_id: domain_exceptions
      name: Domain Exceptions
      paths:
        - src/domain/exceptions/**

    # Application Layer Components
    - component_id: application_commands
      name: Application Commands
      paths:
        - src/application/commands/**
    - component_id: application_queries
      name: Application Queries
      paths:
        - src/application/queries/**
    - component_id: application_services
      name: Application Services
      paths:
        - src/application/services/**

    # Infrastructure Layer Components
    - component_id: infrastructure_persistence
      name: Infrastructure - Persistence
      paths:
        - src/infrastructure/persistence/**
    - component_id: infrastructure_whatsapp
      name: Infrastructure - WhatsApp
      paths:
        - src/infrastructure/whatsapp/**
    - component_id: infrastructure_messaging
      name: Infrastructure - Messaging
      paths:
        - src/infrastructure/messaging/**
    - component_id: infrastructure_cache
      name: Infrastructure - Cache
      paths:
        - src/infrastructure/cache/**
    - component_id: infrastructure_config
      name: Infrastructure - Config
      paths:
        - src/infrastructure/config/**
    - component_id: infrastructure_media
      name: Infrastructure - Media
      paths:
        - src/infrastructure/media/**

    # Presentation Layer Components
    - component_id: presentation_api
      name: Presentation - API
      paths:
        - src/presentation/api/**
    - component_id: presentation_bot
      name: Presentation - Bot
      paths:
        - src/presentation/bot/**

# Flag management for test types
flag_management:
  individual_flags:
    - name: unit
      paths:
        - src/**
      carryforward: true
    - name: integration
      paths:
        - src/**
      carryforward: true
    - name: e2e
      paths:
        - src/**
      carryforward: true

comment:
  layout: "reach,diff,flags,components,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**"
  - "**/__init__.py"
  - "alembic/**"
  - "docs/**"
  - "*.md"

feat: implement structured logging with privacy-compliant processors
  .env.example
  docs/is-it-stolen-implementation-guide.md
  pyproject.toml
  src/infrastructure/config/settings.py
  src/infrastructure/logging/__init__.py
  src/infrastructure/logging/context.py
  src/infrastructure/logging/logger.py
  src/infrastructure/logging/logging_config.py
  src/infrastructure/logging/processors.py
  src/presentation/api/app.py
  src/presentation/api/middleware.py
  tests/unit/infrastructure/logging/__init__.py
  tests/unit/infrastructure/logging/test_logger.py
  tests/unit/infrastructure/logging/test_logging_config.py
  tests/unit/infrastructure/logging/test_processors.py
  tests/unit/infrastructure/test_settings.py
  tests/unit/presentation/api/test_app_logging.py
Due: Infrastructure - Config, Presentation - API

docs: create comprehensive documentation for production readiness
  .vscode/settings.json
  README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/DATABASE.md
  docs/DEPLOYMENT.md
  docs/TROUBLESHOOTING.md
  docs/is-it-stolen-implementation-guide.md
Due: none

fix: add type ignore for structlog get_logger return type
  src/infrastructure/logging/logger.py
Due: none

perf: optimize CI workflow for faster builds
  .github/workflows/ci.yml
Due: none

fix: remove pytest-xdist flag from CI (not installed)
  .github/workflows/ci.yml
Due: none

feat: implement comprehensive security scanning and audit
  .github/workflows/security.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  README.md
  SECURITY.md
  docs/SECURITY-AUDIT.md
  docs/is-it-stolen-implementation-guide.md
Due: none

fix: add security-events permission for Trivy SARIF upload
  .github/workflows/security.yml
Due: none

feat: add WhatsApp location message support and enhanced dev logging
  .gitignore
  Makefile
  infra/certs/localhost.conf
  src/infrastructure/whatsapp/webhook_handler.py
  src/presentation/api/v1/webhook.py
  tests/unit/infrastructure/test_webhook_handler.py
  tests/unit/presentation/test_webhook.py
Due: Infrastructure - WhatsApp, Presentation - API

fix: redact phone numbers in logs to prevent sensitive data exposure
  src/presentation/api/v1/webhook.py
  tests/unit/presentation/test_webhook.py
Due: Presentation - API

fix: enhance phone number redaction to cover all logging paths
  src/presentation/api/v1/webhook.py
  tests/unit/presentation/test_webhook.py
Due: Presentation - API

fix: break CodeQL taint chain with JSON serialization
  src/presentation/api/v1/webhook.py
  tests/unit/presentation/test_webhook.py
Due: Presentation - API

docs: add CodeQL false positive justification for log injection
  src/presentation/api/v1/webhook.py
Due: Presentation - API

feat: add WhatsApp location message support and enhanced dev logging (#100)
  .gitignore
  Makefile
  infra/certs/localhost.conf
  src/infrastructure/whatsapp/webhook_handler.py
  src/presentation/api/v1/webhook.py
  tests/unit/infrastructure/test_webhook_handler.py
  tests/unit/presentation/test_webhook.py
Due: Infrastructure - WhatsApp, Presentation - API

refactor: reduce cognitive complexity in webhook.py
  .gitignore
  src/presentation/api/v1/webhook.py
Due: Presentation - API

refactor: split webhook module and reduce cognitive complexity
  src/presentation/api/v1/webhook.py
  src/presentation/api/v1/webhook_receiver.py
  src/presentation/api/v1/webhook_verification.py
Due: Presentation - API

chore: add pragma no cover to defensive type checks
  src/presentation/api/v1/webhook_receiver.py
Due: Presentation - API

fix: upload coverage report to SonarCloud
  .github/workflows/ci.yml
Due: none

fix: redact phone numbers in remaining log statements
  .claude/settings.local.json
  src/presentation/api/v1/webhook_receiver.py
Due: Presentation - API

fix: redact phone numbers in message_router logging
  src/presentation/api/v1/webhook_receiver.py
  src/presentation/bot/message_router.py
  src/presentation/utils/__init__.py
  src/presentation/utils/redaction.py
Due: Presentation - API, Presentation - Bot

feat: add interactive message support to WhatsApp client
  .claude/settings.local.json
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/whatsapp/client.py
  tests/unit/infrastructure/whatsapp/__init__.py
  tests/unit/infrastructure/whatsapp/test_client.py
Due: Infrastructure - WhatsApp

feat: add interactive message support to WhatsApp client (#116)
  .claude/settings.local.json
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/whatsapp/client.py
  tests/unit/infrastructure/whatsapp/__init__.py
  tests/unit/infrastructure/whatsapp/test_client.py
Due: Infrastructure - WhatsApp

feat: add interactive message parsing to webhook handler
  src/infrastructure/whatsapp/webhook_handler.py
  tests/unit/infrastructure/whatsapp/test_webhook_handler.py
Due: Infrastructure - WhatsApp

docs: update progress tracking for issues #103 and #104
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: Add interactive message parsing to webhook handler (#117)
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/whatsapp/webhook_handler.py
  tests/unit/infrastructure/whatsapp/test_webhook_handler.py
Due: Infrastructure - WhatsApp

feat: add interactive response builder methods
  src/presentation/bot/response_builder.py
  tests/unit/presentation/bot/test_response_builder.py
Due: Presentation - Bot

docs: update progress tracking for issue #105
  docs/whatsapp-interactive-messages-migration.md
Due: none

docs: add PR link for issue #105
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: Add interactive response builder methods (#118)
  docs/whatsapp-interactive-messages-migration.md
  src/presentation/bot/response_builder.py
  tests/unit/presentation/bot/test_response_builder.py
Due: Presentation - Bot

feat: add build_welcome_buttons method to ResponseBuilder
  src/presentation/bot/response_builder.py
  tests/unit/presentation/bot/test_response_builder.py
Due: Presentation - Bot

docs: update progress tracking for issue #106
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: integrate interactive reply buttons in main menu
  docs/whatsapp-interactive-messages-migration.md
  src/presentation/api/v1/webhook_receiver.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  tests/unit/presentation/api/v1/test_webhook_receiver.py
  tests/unit/presentation/bot/test_message_processor.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - API, Presentation - Bot

docs: update migration doc with PR #119 link
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: migrate main menu to interactive reply buttons (#119)
  docs/whatsapp-interactive-messages-migration.md
  src/presentation/api/v1/webhook_receiver.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  tests/unit/presentation/api/v1/test_webhook_receiver.py
  tests/unit/presentation/bot/test_message_processor.py
  tests/unit/presentation/bot/test_message_router.py
  tests/unit/presentation/bot/test_response_builder.py
Due: Presentation - API, Presentation - Bot

docs: mark PRs #118 and #119 as merged
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: migrate category selection to interactive list messages
  docs/whatsapp-interactive-messages-migration.md
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

feat: migrate category selection to interactive list messages (#120)
  docs/whatsapp-interactive-messages-migration.md
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

docs: mark PR #120 (Issue #107) as merged
  docs/whatsapp-interactive-messages-migration.md
Due: none

feat: implement flow configuration loader infrastructure
  config/flows/README.md
  config/flows/flows.yaml
  docs/whatsapp-interactive-messages-migration.md
  src/infrastructure/config/flow_config_loader.py
  tests/unit/infrastructure/config/__init__.py
  tests/unit/infrastructure/config/test_flow_config_loader.py
Due: Infrastructure - Config
