Repository barry47products/is-it-stolen: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Value Objects, Domain Services, Domain Events, Domain Exceptions, Application Commands, Application Queries, Application Services, Infrastructure - Persistence, Infrastructure - WhatsApp, Infrastructure - Messaging, Infrastructure - Cache, Infrastructure - Config, Infrastructure - Media, Presentation - API, Presentation - Bot

feat: add dependency vulnerability scanning with Safety and Bandit
  .bandit
  .github/workflows/security.yml
  .gitignore
  .secrets.baseline
  CLAUDE.md
  Makefile
  poetry.lock
  pyproject.toml
  src/domain/value_objects/phone_number.py
  src/infrastructure/config/settings.py
  tests/unit/domain/value_objects/test_phone_number.py
Due: Domain Value Objects, Infrastructure - Config

fix: upgrade pip before running pip-audit to avoid false positives
  .github/workflows/security.yml
Due: none

fix: ignore known pip vulnerability pending upstream fix
  .github/workflows/security.yml
Due: none

fix: use Safety legacy check command to avoid authentication prompt
  .github/workflows/security.yml
Due: none

feat: add dependency vulnerability scanning (Safety + Bandit) (#135)
  .bandit
  .github/workflows/security.yml
  .gitignore
  .secrets.baseline
  CLAUDE.md
  Makefile
  poetry.lock
  pyproject.toml
  src/domain/value_objects/phone_number.py
  src/infrastructure/config/settings.py
  tests/unit/domain/value_objects/test_phone_number.py
Due: Domain Value Objects, Infrastructure - Config

docs: add mutation testing guide for improved test quality evaluation
  docs/codebase-evaluation-2025-10-09.md
  docs/mutation-testing-guide.md
Due: none

docs: add GitHub issue references to codebase evaluation
  docs/codebase-evaluation-2025-10-09.md
Due: none

feat: add OpenTelemetry distributed tracing
  .claude/settings.local.json
  .env.example
  .secrets.baseline
  CLAUDE.md
  poetry.lock
  pyproject.toml
  src/infrastructure/config/settings.py
  src/infrastructure/tracing/__init__.py
  src/infrastructure/tracing/instrumentation.py
  src/infrastructure/tracing/tracer.py
  src/presentation/api/app.py
  tests/integration/test_app_lifecycle.py
  tests/unit/infrastructure/tracing/__init__.py
  tests/unit/infrastructure/tracing/test_instrumentation.py
  tests/unit/infrastructure/tracing/test_tracer.py
Due: Infrastructure - Config, Presentation - API

docs: mark distributed tracing task as completed in evaluation report
  docs/codebase-evaluation-2025-10-09.md
Due: none

feat: add OpenTelemetry distributed tracing (#146)
  .claude/settings.local.json
  .env.example
  .secrets.baseline
  CLAUDE.md
  docs/codebase-evaluation-2025-10-09.md
  poetry.lock
  pyproject.toml
  src/infrastructure/config/settings.py
  src/infrastructure/tracing/__init__.py
  src/infrastructure/tracing/instrumentation.py
  src/infrastructure/tracing/tracer.py
  src/presentation/api/app.py
  tests/integration/test_app_lifecycle.py
  tests/unit/infrastructure/tracing/__init__.py
  tests/unit/infrastructure/tracing/test_instrumentation.py
  tests/unit/infrastructure/tracing/test_tracer.py
Due: Infrastructure - Config, Presentation - API

fix: spelling updated to british english
  .env.example
Due: none

docs: correct evaluation report error regarding webhook signature validation
  .claude/settings.local.json
  docs/codebase-evaluation-2025-10-09.md
Due: none

feat: add comprehensive OpenAPI/Swagger documentation
  docs/codebase-evaluation-2025-10-09.md
  src/presentation/api/app.py
  src/presentation/api/v1/health.py
  src/presentation/api/v1/metrics.py
  src/presentation/api/v1/webhook_receiver.py
  src/presentation/api/v1/webhook_verification.py
  tests/integration/test_app_lifecycle.py
  tests/unit/presentation/test_app_lifecycle.py
Due: Presentation - API

docs: update evaluation document with PR #147 link
  docs/codebase-evaluation-2025-10-09.md
Due: none

feat: add comprehensive OpenAPI/Swagger documentation (#147)
  docs/codebase-evaluation-2025-10-09.md
  src/presentation/api/app.py
  src/presentation/api/v1/health.py
  src/presentation/api/v1/metrics.py
  src/presentation/api/v1/webhook_receiver.py
  src/presentation/api/v1/webhook_verification.py
  tests/integration/test_app_lifecycle.py
  tests/unit/presentation/test_app_lifecycle.py
Due: Presentation - API

fix: disable console span export when no OTLP endpoint configured
  .env.example
  src/infrastructure/tracing/tracer.py
  tests/unit/infrastructure/tracing/test_tracer.py
Due: none

feat: add comprehensive business metrics with conversion tracking (#144)
  docs/codebase-evaluation-2025-10-09.md
  src/application/commands/start_user_session.py
  src/domain/entities/user_session.py
  src/domain/events/analytics_events.py
  src/domain/repositories/analytics_repository.py
  src/domain/services/conversion_calculation_service.py
  src/domain/value_objects/conversion_rate.py
  src/domain/value_objects/metric_type.py
  src/domain/value_objects/session_id.py
  src/domain/value_objects/user_segment.py
  src/infrastructure/metrics/metrics_service.py
  src/presentation/bot/flow_engine.py
  tests/unit/application/commands/test_start_user_session.py
  tests/unit/domain/entities/test_user_session.py
  tests/unit/domain/events/test_analytics_events.py
  tests/unit/domain/services/test_conversion_calculation_service.py
  tests/unit/domain/value_objects/test_conversion_rate.py
  tests/unit/domain/value_objects/test_metric_type.py
  tests/unit/domain/value_objects/test_session_id.py
  tests/unit/domain/value_objects/test_user_segment.py
  tests/unit/infrastructure/metrics/test_metrics_service.py
Due: Domain Entities, Domain Value Objects, Domain Services, Domain Events, Application Commands, Presentation - Bot

docs: update test mocking evaluation report with detailed analysis and conclusions
  docs/codebase-evaluation-2025-10-09.md
  docs/test-mocking-evaluation-2025-10-11.md
Due: none

Path conditions:
  Domain Entities: any of: src/domain/entities/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Value Objects: any of: src/domain/value_objects/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Services: any of: src/domain/services/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Events: any of: src/domain/events/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Domain Exceptions: any of: src/domain/exceptions/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Application Commands: any of: src/application/commands/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Application Queries: any of: src/application/queries/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Application Services: any of: src/application/services/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Persistence: any of: src/infrastructure/persistence/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - WhatsApp: any of: src/infrastructure/whatsapp/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Messaging: any of: src/infrastructure/messaging/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Cache: any of: src/infrastructure/cache/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Config: any of: src/infrastructure/config/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Infrastructure - Media: any of: src/infrastructure/media/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Presentation - API: any of: src/presentation/api/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
  Presentation - Bot: any of: src/presentation/bot/**, but not: tests/**, **/__init__.py, alembic/**, docs/**, *.md
