Repository barry47products/is-it-stolen: changes, and which Codecov flags are due for each by the changed paths.
All: Domain Entities, Domain Value Objects, Domain Services, Domain Events, Domain Exceptions, Application Commands, Application Queries, Application Services, Infrastructure - Persistence, Infrastructure - WhatsApp, Infrastructure - Messaging, Infrastructure - Cache, Infrastructure - Config, Infrastructure - Media, Presentation - API, Presentation - Bot

codecov.yml:

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
      # Domain layer (core business logic)
      domain:
        target: 100%
        paths:
          - "src/domain/**"
        flags:
          - unit
      # Application layer (use cases)
      application:
        target: 100%
        paths:
          - "src/application/**"
        flags:
          - unit
          - integration
      # Infrastructure layer
      infrastructure:
        target: 95%
        paths:
          - "src/infrastructure/**"
        flags:
          - unit
          - integration
      # Presentation layer (API/Bot)
      presentation:
        target: 95%
        paths:
          - "src/presentation/**"
        flags:
          - unit
          - integration
    patch:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    changes:
      default:
        if_ci_failed: error

# Component breakdown by architectural layer
component_management:
  individual_components:
    # Domain Layer Components
    - component_id: domain_entities
      name: Domain Entities
      paths:
        - src/domain/entities/**
    - component_id: domain_value_objects
      name: Domain Value Objects
      paths:
        - src/domain/value_objects/**
    - component_id: domain_services
      name: Domain Services
      paths:
        - src/domain/services/**
    - component_id: domain_events
      name: Domain Events
      paths:
        - src/domain/events/**
    - component_id: domain_exceptions
      name: Domain Exceptions
      paths:
        - src/domain/exceptions/**

    # Application Layer Components
    - component_id: application_commands
      name: Application Commands
      paths:
        - src/application/commands/**
    - component_id: application_queries
      name: Application Queries
      paths:
        - src/application/queries/**
    - component_id: application_services
      name: Application Services
      paths:
        - src/application/services/**

    # Infrastructure Layer Components
    - component_id: infrastructure_persistence
      name: Infrastructure - Persistence
      paths:
        - src/infrastructure/persistence/**
    - component_id: infrastructure_whatsapp
      name: Infrastructure - WhatsApp
      paths:
        - src/infrastructure/whatsapp/**
    - component_id: infrastructure_messaging
      name: Infrastructure - Messaging
      paths:
        - src/infrastructure/messaging/**
    - component_id: infrastructure_cache
      name: Infrastructure - Cache
      paths:
        - src/infrastructure/cache/**
    - component_id: infrastructure_config
      name: Infrastructure - Config
      paths:
        - src/infrastructure/config/**
    - component_id: infrastructure_media
      name: Infrastructure - Media
      paths:
        - src/infrastructure/media/**

    # Presentation Layer Components
    - component_id: presentation_api
      name: Presentation - API
      paths:
        - src/presentation/api/**
    - component_id: presentation_bot
      name: Presentation - Bot
      paths:
        - src/presentation/bot/**

# Flag management for test types
flag_management:
  individual_flags:
    - name: unit
      paths:
        - src/**
      carryforward: true
    - name: integration
      paths:
        - src/**
      carryforward: true
    - name: e2e
      paths:
        - src/**
      carryforward: true

comment:
  layout: "reach,diff,flags,components,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**"
  - "**/__init__.py"
  - "alembic/**"
  - "docs/**"
  - "*.md"

feat: implement conversation state machine (#33) (#87)
  codecov.yml
  docs/conversation-state-machine.md
  docs/is-it-stolen-implementation-guide.md
  pyproject.toml
  src/presentation/api/dependencies.py
  src/presentation/api/v1/webhook.py
  src/presentation/bot/__init__.py
  src/presentation/bot/context.py
  src/presentation/bot/exceptions.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/state_machine.py
  src/presentation/bot/states.py
  src/presentation/bot/storage.py
  tests/integration/presentation/bot/__init__.py
  tests/integration/presentation/bot/test_conversation_integration.py
  tests/unit/presentation/bot/__init__.py
  tests/unit/presentation/bot/test_context.py
  tests/unit/presentation/bot/test_message_processor.py
  tests/unit/presentation/bot/test_state_machine.py
  tests/unit/presentation/bot/test_states.py
  tests/unit/presentation/bot/test_storage.py
  tests/unit/presentation/test_dependencies.py
  tests/unit/presentation/test_webhook.py
Due: Presentation - API, Presentation - Bot

feat: implement message parser and router for WhatsApp bot (#34)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/api/dependencies.py
  src/presentation/api/v1/webhook.py
  src/presentation/bot/message_parser.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_parser.py
  tests/unit/presentation/bot/test_message_processor.py
  tests/unit/presentation/bot/test_message_router.py
  tests/unit/presentation/test_dependencies.py
Due: Presentation - API, Presentation - Bot

feat: implement message parser and router for WhatsApp bot (#34) (#88)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/api/dependencies.py
  src/presentation/api/v1/webhook.py
  src/presentation/bot/message_parser.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_parser.py
  tests/unit/presentation/bot/test_message_processor.py
  tests/unit/presentation/bot/test_message_router.py
  tests/unit/presentation/test_dependencies.py
Due: Presentation - API, Presentation - Bot

feat: implement response builder for formatted bot messages (#35)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  tests/unit/presentation/bot/test_response_builder.py
Due: Presentation - Bot

feat: implement response builder for formatted bot messages (#35) (#89)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  tests/unit/presentation/bot/test_response_builder.py
Due: Presentation - Bot

feat: implement ErrorHandler for user-friendly error messages (#36)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/bot/error_handler.py
  tests/unit/presentation/bot/test_error_handler.py
Due: Presentation - Bot

feat: integrate error handling into MessageRouter with 100% coverage
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

docs: update implementation guide with Issue #36 completion
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: implement ErrorHandler for user-friendly error messages (#36) (#90)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/bot/error_handler.py
  src/presentation/bot/message_router.py
  tests/unit/presentation/bot/test_error_handler.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

chore: update TODO references to new issues #91 and #92
  docs/is-it-stolen-implementation-guide.md
  src/presentation/bot/message_router.py
  tests/unit/infrastructure/cache/test_rate_limiter.py
Due: Presentation - Bot

feat: implement RateLimiter with Redis backend for issue #37
  src/infrastructure/cache/rate_limiter.py
  tests/unit/infrastructure/cache/test_rate_limiter.py
Due: Infrastructure - Cache

docs: update implementation guide with Issue #37 progress
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: add rate limit configuration and ErrorHandler integration
  src/infrastructure/config/settings.py
  src/presentation/bot/error_handler.py
  tests/unit/infrastructure/test_settings.py
  tests/unit/presentation/bot/test_error_handler.py
Due: Infrastructure - Config, Presentation - Bot

docs: update implementation guide with Phase 2 completion for Issue #37
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: integrate rate limiting into MessageProcessor
  src/presentation/bot/message_processor.py
  tests/unit/presentation/bot/test_message_processor.py
Due: Presentation - Bot

docs: update implementation guide with Issue #37 completion
  docs/is-it-stolen-implementation-guide.md
Due: none

docs: add issues #94 and #95 to Milestone 4
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: implement rate limiting for bot (#37) (#93)
  docs/is-it-stolen-implementation-guide.md
  src/infrastructure/cache/rate_limiter.py
  src/infrastructure/config/settings.py
  src/presentation/bot/error_handler.py
  src/presentation/bot/message_processor.py
  tests/unit/infrastructure/cache/test_rate_limiter.py
  tests/unit/infrastructure/test_settings.py
  tests/unit/presentation/bot/test_error_handler.py
  tests/unit/presentation/bot/test_message_processor.py
Due: Infrastructure - Cache, Infrastructure - Config, Presentation - Bot

feat: implement health check endpoints for monitoring (#38)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/health.py
  tests/unit/presentation/api/v1/__init__.py
  tests/unit/presentation/api/v1/test_health.py
  tests/unit/presentation/test_api_structure.py
Due: Presentation - API

feat: implement health check endpoints for monitoring (#38) (#96)
  docs/is-it-stolen-implementation-guide.md
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/health.py
  tests/unit/presentation/api/v1/__init__.py
  tests/unit/presentation/api/v1/test_health.py
  tests/unit/presentation/test_api_structure.py
Due: Presentation - API

feat: implement metrics tracking service and integration (#39)
  docs/is-it-stolen-implementation-guide.md
  src/infrastructure/metrics/__init__.py
  src/infrastructure/metrics/metrics_service.py
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/metrics.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  tests/unit/infrastructure/metrics/__init__.py
  tests/unit/infrastructure/metrics/test_metrics_service.py
  tests/unit/presentation/api/v1/test_metrics.py
Due: Presentation - API, Presentation - Bot

feat: add Prometheus metrics with Docker Compose stack (#39)
  METRICS.md
  docker-compose.yml
  grafana/provisioning/dashboards/dashboard.yml
  grafana/provisioning/dashboards/isitstolen.json
  grafana/provisioning/datasources/datasources.yml
  prometheus.yml
  pyproject.toml
  src/infrastructure/metrics/metrics_service.py
  src/presentation/api/app.py
  src/presentation/api/prometheus.py
  tests/unit/presentation/api/test_prometheus.py
Due: Presentation - API

feat: implement metrics tracking service and integration (#39) (#97)
  METRICS.md
  docker-compose.yml
  docs/is-it-stolen-implementation-guide.md
  grafana/provisioning/dashboards/dashboard.yml
  grafana/provisioning/dashboards/isitstolen.json
  grafana/provisioning/datasources/datasources.yml
  prometheus.yml
  pyproject.toml
  src/infrastructure/metrics/__init__.py
  src/infrastructure/metrics/metrics_service.py
  src/presentation/api/app.py
  src/presentation/api/prometheus.py
  src/presentation/api/v1/__init__.py
  src/presentation/api/v1/metrics.py
  src/presentation/bot/message_processor.py
  src/presentation/bot/message_router.py
  tests/unit/infrastructure/metrics/__init__.py
  tests/unit/infrastructure/metrics/test_metrics_service.py
  tests/unit/presentation/api/test_prometheus.py
  tests/unit/presentation/api/v1/test_metrics.py
Due: Presentation - API, Presentation - Bot

feat: create comprehensive E2E conversation flow tests (#40)
  docs/is-it-stolen-implementation-guide.md
  tests/e2e/presentation/test_conversation_flows.py
Due: none

feat: implement geocoding service with Nominatim API (#91)
  src/infrastructure/geocoding/__init__.py
  src/infrastructure/geocoding/geocoding_service.py
  src/presentation/bot/message_router.py
  tests/unit/infrastructure/geocoding/__init__.py
  tests/unit/infrastructure/geocoding/test_geocoding_service.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

fix: correct type annotation for Nominatim API params
  docs/is-it-stolen-implementation-guide.md
  src/infrastructure/geocoding/geocoding_service.py
Due: none

feat: implement stolen date collection in bot conversation flow (#92)
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
  src/presentation/bot/context.py
  src/presentation/bot/message_parser.py
  src/presentation/bot/message_router.py
  src/presentation/bot/response_builder.py
  src/presentation/bot/states.py
  tests/e2e/presentation/test_conversation_flows.py
  tests/unit/presentation/bot/test_message_parser.py
  tests/unit/presentation/bot/test_message_router.py
Due: Presentation - Bot

docs: mark Issue #92 (stolen date collection) as complete
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: implement IP-based rate limiting for webhook endpoints (#94)
  .env.example
  src/infrastructure/config/settings.py
  src/presentation/api/dependencies.py
  src/presentation/api/v1/webhook.py
  tests/unit/presentation/test_dependencies.py
  tests/unit/presentation/test_webhook.py
Due: Infrastructure - Config, Presentation - API

docs: update implementation guide with Issue #94 completion
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: add admin bypass for rate limiting during testing (#95)
  .env.example
  docs/is-it-stolen-implementation-guide.md
  src/infrastructure/cache/rate_limiter.py
  src/infrastructure/config/settings.py
  src/presentation/api/dependencies.py
  tests/unit/infrastructure/cache/test_rate_limiter.py
  tests/unit/presentation/test_dependencies.py
Due: Infrastructure - Cache, Infrastructure - Config, Presentation - API

docs: update implementation guide - Milestone 4 complete ✅
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: optimize Docker configuration with multi-stage builds (#41)
  DOCKER.md
  Dockerfile
  docs/is-it-stolen-implementation-guide.md
Due: none

feat: setup comprehensive CI/CD pipeline with GitHub Actions (#42)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  CI-CD.md
  docs/is-it-stolen-implementation-guide.md
Due: none

fix: comment out GitHub Environments to prevent deployment failures (#42)
  .github/workflows/deploy.yml
  CI-CD.md
  ENVIRONMENT-SETUP.md
Due: none

feat: implement Sentry error tracking integration (#43)
  .env.example
  docs/SENTRY.md
  docs/is-it-stolen-implementation-guide.md
  pyproject.toml
  src/infrastructure/config/settings.py
  src/infrastructure/monitoring/__init__.py
  src/infrastructure/monitoring/sentry.py
  src/presentation/api/app.py
  tests/unit/infrastructure/monitoring/__init__.py
  tests/unit/infrastructure/monitoring/test_sentry.py
Due: Infrastructure - Config, Presentation - API

fix: add type annotations for Sentry Event and Hint types
  .claude/settings.local.json
  pyproject.toml
  src/infrastructure/monitoring/sentry.py
Due: none

fix: remove Slack notifications from CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: remove deployment workflows until ready for production
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Due: none

refactor: use type alias to avoid duplicating dict type annotation
  src/infrastructure/monitoring/sentry.py
Due: none
